<app-module-title
        name="Subscriptions"
        btnTitle="Subscription"
        [isAddAvailable]="false"
></app-module-title>
<ejs-grid *ngIf="isLoaded"
          #grid id='Grid'
          #gridEleRef
          (toolbarClick)='toolbarClick($event)'
          [dataSource]='modifiedSubscriptions'
          [allowPaging]="true"
          [pageSettings]='pageSettings'
          [allowSorting]="true"
          [allowFiltering]="true"
          [allowGrouping]="true"
          [toolbar]='toolbarOptions'
          [allowExcelExport]='true'
          [allowPdfExport]='true'
          (excelExportComplete)='excelExportComplete()'
          (pdfExportComplete)='pdfExportComplete()'
>
    <e-columns>
        <e-column field='course.name.ar' headerText='Course Name' textAlign='Left' width=90></e-column>
        <e-column field='user.email' headerText='Email' textAlign='Left' width=90></e-column>
        <e-column field='method' headerText='Method' width=120></e-column>
        <e-column field='state' headerText='State' width=120></e-column>
        <e-column field='price.euro' headerText='Price (Euro)' textAlign='Left' width=90></e-column>
        <e-column field='price.dzd' headerText='Price (DZD)' textAlign='Left'  width=90></e-column>
    </e-columns>
</ejs-grid>

<mat-card *ngIf="!isLoaded" >
    <mat-card-content >
        <mat-spinner class="mx-auto"></mat-spinner>
    </mat-card-content>
</mat-card>
